body {
    text-align: center;
}

#gallery-container {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 100px 10vw;
}

.canvas-containers {
    height: 640px;
    display: flex;
    flex-direction: column;
}

.canvas {
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    box-sizing: border-box;
}

.button-containers {
    text-align: center;
    margin-top: 10px;
}

.pixel {
    box-sizing: border-box;
}

h4 {
    margin-top: 200px;
}
