:root {
    --theme-dark: rgb(46, 48, 50);
    --theme-blue: rgb(69, 86, 125);
    --theme-red: rgb(190, 49, 68);
}

* {
    margin: 0;
}

body {
    font-size: 16;
    text-align: center;
    background-color: var(--theme-dark);
    color: white;
}

h1 {
    margin: 20px 0 20px 0;
}

#content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    display: grid;
}

#sidebar-title {
    margin: 0 0 0 0;
}

#sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /* height: 550px; */
    padding: 20px;
    background-color: var(--theme-blue);
    border-radius: 7px;
}

#sidebar-right {
    width: 250px;
}


.sidebar-item {
    width: 150px;
    margin: 10px 0 0px 0;
    border: 1px solid var(--theme-dark);
    border-radius: 7px;
    background-color: var(--theme-dark);
    color: white;
}


#colorPicker {
    width: 80px;
    height: 40px;
    border: none !important;
    background-color: transparent;
}

#gridSizeSliderText {
    margin: 0 0 0 0;
}

#gridSizeSlider {
    margin: 5px;
}

#toggleGridButton {
    margin: 0 0 0 0;
}

#resetButton {
    margin: 0 0 0 0;
}

#title {
    margin: 0 0 0 0;
}

hr {
    width: 100%;
    background-color: black;
}

.grid-visible .pixel {
    border: 1px solid black;
}
.active {
    background-color: var(--theme-dark);
    color: white;
    border: 1px solid white
}

.alert {
    width: 400px;
    margin: 40px auto 40px auto;
}