#content-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid black;
    display: grid;
}

/* .pixel {

    border:1px solid black
} */
.grid-visible .pixel {
    border: 1px solid black;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: black;
    color: white;
}

#gridSizeSliderContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#gridSizeSliderText {
    margin-bottom: 5px;
}