{% extends "layout.html" %}

{% block scripts %}<script src="../static/gallery_script.js" defer></script>{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../static/gallery_style.css">{% endblock %}

{% block title %}Homepage{% endblock %}

{% block main %}
<h1>Gallery</h1>
{% if not user_pixel_art %}
<h4>Your gallery is currently empty. Go add some drawings!</h4>
{% else %}
<main id="gallery-container">
{% for art in user_pixel_art %}
    <div class="canvas-containers">
            <h6>{{ art["title"] }}</h6>
            <div class="canvas"></div>
            <div class="button-containers">
                <button class="edit-button">Edit</button>
                <button class="delete-button">Delete</button>
            </div>
        </div>
{% endfor %}
{% endif %}
</main>
{% endblock %}